
.navbar-brand{
    font-weight: 900;
    font-size: 45px;
    text-shadow: 5px;
    text-decoration-style: none;
    font-family: "Poppins";
    margin-left: 50px;
}
.nav-link{
    font-size: 15px;
    font-family: "Poppins" ;
    
}

    

